.form{
    border: none;
    margin: auto;
    width: 200px;
    text-align: center;
    .addLabel{
        width: 100%;

        .addInputText{
            width: 100%;
        }
        .addInputTextaera{
            width: 100%;
        }
    }
}